$bg: #f0f0f0;
$color-main: #1c69d4;
$color-main-darker: #2681ff;
$color-main-most-dark: #0055cb;
$color-secondry: #3ca255;
$font-family: "Gotham Pro", sans-serif;

$screen-xl: 1920;
$screen-l: 1600;
$screen-m: 1280px;
$screen-s: 960px;
$screen-xs: 640px;